<section id="hero" class="relative justify-center bg-[url('/dentalOfficeBG.webp')] bg-cover bg-no-repeat bg-center min-h-[90vh]">
  <div class="top-0 left-0 absolute flex flex-col justify-center gap-4 bg-linear-to-r from-black/75 to-transparent p-8 w-full h-full text-slate-200">
    <h1 class="lg:w-1/2 w-2/3 font-bold lg:text-5xl text-3xl">
      Tu sonrisa perfecta, diseñada por expertos
    </h1>
    <h2 class="lg:w-1/2 w-2/3 lg:text-xl">
      Ofrecemos cuidado dental de vanguardia en un ambiente moderno y confortable. Confía en nosotros para lograr la salud bucal que mereces
    </h2>
    
    <a
      href="#solicitarCita"
      class="group relative self-start bg-gray-100 shadow-inner px-8 py-2 border border-gray-100 rounded-lg overflow-hidden font-medium text-gray-600"
    >
      <span class="top-0 left-0 absolute border-gray-600 border-t-4 w-0 group-hover:w-full h-0 transition-all duration-300 ease"></span>
      <span class="right-0 bottom-0 absolute border-gray-600 border-b-4 w-0 group-hover:w-full h-0 transition-all duration-300 ease"></span>
      <span class="top-0 left-0 absolute bg-gray-600 w-full h-0 group-hover:h-full transition-all duration-400 delay-200 ease"></span>
      <span class="bottom-0 left-0 absolute bg-gray-600 w-full h-0 group-hover:h-full transition-all duration-400 delay-200 ease"></span>
      <span class="absolute inset-0 bg-gray-900 opacity-0 group-hover:opacity-100 w-full h-full duration-400 delay-300"></span>
      <span class="relative group-hover:text-white transition-colors duration-400 delay-200 ease">Reservar Cita</span>
    </a>

  </div>
</section>