---
import RequestFormWrapper from "./react/RequestFormWrapper"
---
<section id="solicitarCita" class="gap-5 grid grid-cols-12 bg-linear-to-b from-blue-100 to-blue-200 p-5 min-h-[90vh]">
  <h2 class="col-span-12 font-semibold text-3xl text-center">Reserva tu Cita</h2>
  <RequestFormWrapper client:load />
</section>